* {
  box-sizing: border-box;
}

html {
    font-family:SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif ;
    font-size:14px;
    line-height:1.5;
    height:100%;
    -webkit-print-color-adjust: exact;
    -webkit-text-size-adjust: none;
}

@media print {
    html {
       font-size:12px;
    }
    table {
    }
}

body {
    margin: 0;
    padding: 0;
    color:#1d1d1f;
}

p, label, #content li:not(.current) {
    color:#484848;
}

a {
    color:#06c;
    text-decoration:none
}

a:hover {
    text-decoration:underline
}

h2 {
    margin-top: 1em;
    margin-bottom: .3em;
    font-weight: 700;
}

table {
    border-collapse: collapse;
    text-align: left;
    width:90%;
    margin:auto
}

table .grouplabel th {
    font-size:17px;
    padding: 2em .5em .5em 1em;
}

table thead tr th {
  font-weight:600;
  color: #333;
  padding: .5em 1em .5em 1em;
  border-bottom: 1px solid #333;
}

table:not(.simulation-index) tr:nth-child(even) {
    background-color: #f5f5f7;
}

table:not(.simulation-index) tr td {
    border-bottom: 1px solid #cbcbcb;
    color: #666;
    padding: .25em 1em .25em 1em;
    vertical-align:top
}

.simulation-index tr td {
    border-top: 1px solid #cbcbcb;
    padding: .25em 1em .25em 1.5em;
    vertical-align:top
}

.secondary-column {
    width:180px;
    font-size:12px
}

table p {
    margin:0px
}

table em {
    color: #2573F7;
}

/* Global navigation */

#globalnav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    font-size:12px;
    z-index: 9999;
    height: auto;
    background: rgba(240,240,240,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    
    display: flex;
    flex-flow: row wrap;
    align-items:baseline
}

#globalnav > h1 {
    font-size: 13pt;
    margin:14px 80px 0px 20px
}

#globalnav ul {
    list-style-type: none;
    margin:0;
    padding:9px 12px;
    display: flex;
    flex-flow: row wrap;
    align-items:baseline
}

#globalnav li {
    display: inline;
    font-weight:bold;
    padding:8px 12px;
    font-size: 10pt
}

#globalnav a {
  color:#555;
  text-align: center;
  text-decoration: none;
}

#globalnav li a:hover {
    color:#333;
}

/* Simulation properties */

#simulation-properties {
    padding:20px;
    height:auto;
    background-image: radial-gradient(circle closest-corner at 50% -20%, #8664E4, #1C4FA2);
    color:white;
    
    display: flex;
    flex-flow: row wrap;
    
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
}

#simulation-properties > div {
    margin:8px
}

#simulation-properties > div:first-child {
    flex: 2 200px;
}

#simulation-properties > div:last-child {
    flex: 1 280px;
    border-radius:8px;
    background-color:rgba(255,255,255,0.1)
}

#simulation-properties ul {
    padding:0px 30px
}

#simulation-properties h1 {
    margin:0px;
    padding:0px;
}

#simulation-properties p {
    color:white;
}

#simulation-properties a {
    color:white;
}

#simulation-properties button {
    border-radius:3px;
    background-color: rgba(240, 240, 240, .3);
    border: none;
    color: white;
    margin:0px 24px 16px;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#simulation-properties button:active {
    background-color: rgba(240, 240, 240, .2);
}

/* Content */

#content {
    margin: 20px;
    padding-bottom: 120px;
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
}

.assignments {
    width:auto;
    border: .5px solid #e6e6e6;
}

.assignments th {
    text-align:center;
  color: #333;
  padding: .5em 1em .5em 1em;
  border: .5px solid #e6e6e6;
}

.assignments tr:nth-child(even) {
    background-color: white;
}

.assignments td {
    text-align:center;
    border: .5px solid #e6e6e6;
}

.rerouting {
    display:flex;
    justify-content:space-around;
}

@media print {
    .unit {
        page-break-after: always;
    }
}

.page-top {
    display: flex;
    justify-content:space-between;
    background: rgba(240,240,240,0.8);
    padding:1em
}

.page-top h4 {
    margin:0px
}

#title {
    border-bottom:1px solid #e6e6e6;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

#content p > strong {
    color:#BD130B
}

#content p > em {
    color: #2573F7;
}

.header {
    border-bottom:1px solid #e6e6e6;
    display: flex;
    justify-content: space-evenly;
}

.header div {
    margin:1em .5em 1em;
    flex:1
}

/* Content title */

.title {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items:baseline;
    width: 100%;
    border-bottom:1px solid black
}

.title h1 {
    margin:0px;
}

.title h2 {
    margin:0px;
}

/* Dropdown Button */

.dropdown {
    min-width:150px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius:6px;
  background: rgba(240,240,240,0.2);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width:100%;
}

.dropdown-content ul {
    list-style-type: none;
    padding:0;
    margin:4px 0px 0px
}

.dropdown-content li {
    padding:2px 6px
}

.dropdown-content a {
  color: black;
  padding: 3px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    color: white;
    border-radius:5px;
    background-color: #2D91FB;
}

.dropdown:hover .dropdown-content {display: block;}

.note {
    border: 1px solid rgba(0,0,0,0.08);
    background-color: rgba(0,0,0,0.03);
    border-radius: 3.5px;
    display: flex;
    justify-content:space-evenly;
}

.note div {
    flex:1
}

.note ul {
    list-style: none;
    margin: 1em;
    padding: 0;
}

.note li {
    line-height: 1.4;
    color:#484848;
}

.caption p, .caption li {
    font-size:13px;
    color:#999
}

/* Index page */
.reader-button {
    width:200px;
    height:100px;
    text-align:center;
    font-size:16pt;
}

.reader-button a:hover {
    background-color:#f5f5f5;
}

.reader-button a {
    font-weight:bold;
    background-color:#eee;
    border-radius:14px;
    padding:20px 30px;
    color:#444;
    text-decoration:none
}

/* Course page */
.course_notes strong {
    color:#BD130B
}

/* Tabs */

.tab {
    padding:0px
}

.tabButton {
    list-style-type: none;
    margin:20px 0px 0px;
    padding:9px 2px;
    border-bottom: 1px solid #eee;
    
    display: flex;
    flex-flow: row wrap;
}

.tablink {
    padding:6px 10px;
    font-size: 14px;
    cursor:pointer
}

.tablink > * {
    padding:6px 10px;
}

.current {
    color:#06c
}

.tablink:hover {
    border-radius:4px;
    background-color:#eee;
}

.checkbox-label {
}

.checkbox-label > span  {
    width:60px;
    height:40px;
    text-align:center;
    display:inline-block;
    color:white;
    border: 1px solid black;
    padding: 9px;
    background-color: #aaa;
    cursor: pointer
}


.checkbox-label input:checked ~ span {
    background-color: #06c;
}

.decor-checkbox {
    display:none
}

/* Events table */

.event-row {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
    border-bottom: 1px solid #cbcbcb;
}

.events .event-row:nth-child(even) {
    background-color: #f5f5f7;
}

.event-header {
    font-weight:bold;
    border-bottom: 1px solid #333;
}

@media all and (max-width: 503px) {
    .event-header {
        display:none
    }
}

.event-row > div {
    text-align:center;
    vertical-align:top;
    padding:8px;
    width:80px
}

.event-row > div > p {
    margin:0
}

@media all and (max-width: 503px) {
    .event-time {
        font-weight:bold;
        text-align:left !important
    }
    
    .event-callsign {
        font-weight:bold;
        text-align:right !important
    }
    
    .event-location {
        font-weight:bold;
    }
}

.event-row div:last-child {
    flex:6 4 280px;
    text-align:left
}

/* Simulations index */

.simulations-grid {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around
}

.simulation-course {
    border-radius:6px;
    margin:10px;
    padding:40px 10px 10px;
    background-image: radial-gradient(circle closest-corner at 50% -20%, #8664E4, #1C4FA2);
    color:white;
    width:330px;
}

.simulation-groups-container {
    display:flex;
    flex-flow: row wrap;
}

.simulation-groups-container > div > a {
    display:block;
    padding:6px 10px;
    margin:4px;
    border-radius:8px;
    background-color:rgba(255,255,255,0.1)
}

.simulation-groups-container > div > a:hover {
    text-decoration:none;
    background-color:rgba(255,255,255,0.3)
}

.simulation-groups-container > div > a, .simulation-group p {
    color:white;
}

.simulation-group a {
    font-weight:bold;
    display:block
}

:target td {
    background-color: #f5f5f7;
}

/* Timelines */

.timelines {
    border-radius:8px;
    background-color:#4F545F;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly
}

.timeline-container {
    width:300px;
    display:flex;
    overflow:hidden
}

.timeline-runway {
    position:absolute;
    bottom:15px;
    left:-6px;
    padding:4px;
    text-align:center;
    width:69px;
    color:white;
    font-weight:bold;
    border: 1px solid #B5C0C8;
    background-color:#4F545F;
    border-radius:4px;
    z-index:1
}

.timeline-label {
    position:absolute;
    text-align:center;
    width:58px;
    color:#B5C0C8;
    border-left: 1px solid #B5C0C8;
    border-right: 1px solid #B5C0C8;
    display:flex
}

.timeline-label p {
    margin:0px;
    color:#B5C0C8;
}

.timeline-hour {
    font-size:11px;
}

.timeline-minute {
    font-size:13px;
}

.timeline-flight {
    position:absolute;
    display:flex;
    font-size:13px;
}

.timeline-flight > div {
    margin:0 3px;
    background-color:#4F545F90;
}

.timeline-flight-time {
    width:40px;
    font-size:13px;
}

.timeline-flight-callsign {
    width:80px;
    font-weight:bold;
}

.timeline-flight-iaf {
    text-align:center;
    width:20px;
}

.timeline-flight-iaf-estimate {
    text-align:center;
    width:25px;
}

.timeline-color-salmon {
    color:#FDCFE4
}

.timeline-color-pink {
    color:#F6ADAF
}

.timeline-color-purple {
    color:#E9A6FC
}

.timeline-color-cyan {
    color:#B5FFFF
}
