* {
  box-sizing: border-box;
}

html {
    font-family:SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif ;
    font-size:14px;
    line-height:1.5;
    height:100%;
    -webkit-print-color-adjust: exact;
}

@media print {
    html {
       font-size:12px;
    }
    table {
    }
}

body {
    margin: 0;
    padding: 0;
    color:#1d1d1f;
}

#content {
    margin: 20px;
    padding-bottom: 120px;
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
}

p {
    color:#484848;
    margin:0px;
}

a {
    color:#06c;
    text-decoration:none
}
a:hover {
    text-decoration:underline
}

h2 {
    margin-top: 1em;
    margin-bottom: .3em;
    font-weight: 700;
}

table {
    border-collapse: collapse;
    text-align: left;
    width:90%;
    margin:auto
}

table .grouplabel th {
    font-size:17px;
    padding: 2em .5em .5em 1em;
}

table thead tr th {
  font-weight:600;
  color: #333;
  padding: .5em 1em .5em 1em;
  border-bottom: 1px solid #333;
}

table:not(.simulation-index) tr:nth-child(even) {
    background-color: #f5f5f7;
}

table:not(.simulation-index) tr td {
    border-bottom: .5px solid #e6e6e6;
    color: #666;
    padding: .25em 1em .25em 1em;
    vertical-align:top
}

.simulation-index tr td {
    border-top: .5px solid #e6e6e6;
    color: #6f6;
    padding: .25em 1em .25em 1.5em;
    vertical-align:top
}

table p {
    margin:0px
}

table em {
    color: #2573F7;
}

.assignments {
    width:auto;
    border: .5px solid #e6e6e6;
}

.assignments th {
    text-align:center;
  color: #333;
  padding: .5em 1em .5em 1em;
  border: .5px solid #e6e6e6;
}

.assignments tr:nth-child(even) {
    background-color: white;
}

.assignments td {
    text-align:center;
    border: .5px solid #e6e6e6;
}

@media print {
    .unit {
        page-break-after: always;
    }
}

.page-top {
    display: flex;
    justify-content:space-between;
    background: rgba(240,240,240,0.8);
    padding:1em
}

.page-top h4 {
    margin:0px
}

#title {
    border-bottom:1px solid #e6e6e6;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

#title h1, h2 {
    margin-bottom:0px
}

.content {
    margin:0px 2em 0px 2em
}

.header {
    border-bottom:1px solid #e6e6e6;
    display: flex;
    justify-content: space-evenly;
}

.header div {
    margin:1em .5em 1em;
    flex:1
}

#globalnav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    font-size:12px;
    z-index: 9999;
    height: 44px;
    display: grid;
    grid-template-columns: 3fr auto auto;
    align-items: baseline;
    background: rgba(240,240,240,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

#globalnav h1 {
    margin:0px;
    padding:8px 18px;
    color:#555;
}

#globalnav h3 {
    margin:0px;
    padding:8px 18px;
    color:#555;
}

#globalnav a {
    color:#555;
    text-decoration:none
}

#simulation-properties {
    padding:20px;
    height:auto;
    background-image: radial-gradient(circle closest-corner at 50% -20%, #8664E4, #1C4FA2);
    color:white;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
}

#simulation-properties h1 {
    margin:0px;
    padding:8px 0px;
}

#simulation-properties p {
    color:white;
}

#simulation-properties a {
    color:white;
}

.title {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto min-content;
    align-items: baseline;
    border-bottom:1px solid black
}

.title h1 {
    margin:0px;
}

.title h2 {
    margin:0px;
    text-align:right
}

.note {
    border: 1px solid rgba(0,0,0,0.08);
    background-color: rgba(0,0,0,0.03);
    border-radius: 3.5px;
    display: flex;
    justify-content:space-evenly;
}

.note div {
    flex:1
}

.note ul {
    list-style: none;
    margin: 1em;
    padding: 0;
}

.note li {
    line-height: 1.4;
    color:#484848;
}

.caption {
    font-size:13px;
    color:#999
}

/* Dropdown Button */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background: rgba(240,240,240,0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
