/* Timelines */

@media print {
    .timelines {
        border-radius:0px !important;
    }
    
    .timeline-container {
        width:230px !important;
    }
    
    .timeline-hour {
        font-size:8px !important;
    }

    .timeline-minute {
        font-size:10px !important;
    }

    .timeline-flight {
        font-size:11px !important;
    }
    
    .timeline-flight-time {
        width:30px !important;
        font-size:11px !important;
    }
    
    .timeline-label {
        width:38px !important;
    }
    
    .timeline-flight-callsign {
        width:60px !important;
    }

    .timeline-flight-iaf {
        width:10px !important;
    }

    .timeline-flight-iaf-estimate {
        width:15px !important;
    }
}

.timelines {
    border-radius:8px;
    background-color:#4F545F;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly
}

.timeline-container {
    width:300px;
    display:flex;
    overflow:hidden
}

.timeline-runway {
    position:absolute;
    bottom:15px;
    left:-6px;
    padding:4px;
    text-align:center;
    width:69px;
    color:white;
    font-weight:bold;
    border: 1px solid #B5C0C8;
    background-color:#4F545F;
    border-radius:4px;
    z-index:1
}

.timeline-label {
    position:absolute;
    text-align:center;
    width:58px;
    color:#B5C0C8;
    border-left: 1px solid #B5C0C8;
    border-right: 1px solid #B5C0C8;
    display:flex;
    margin:0px;
}

.timeline-label p {
    margin:0px;
    color:#B5C0C8;
}

.timeline-hour {
    font-size:11px;
}

.timeline-minute {
    font-size:13px;
}

.timeline-flight {
    position:absolute;
    display:flex;
    font-size:13px;
}

.timeline-flight > div {
    margin:0 3px;
    background-color:#4F545F90;
}

.timeline-flight-time {
    width:40px;
    font-size:13px;
}

.timeline-flight-callsign {
    width:80px;
    font-weight:bold;
}

.timeline-flight-iaf {
    text-align:center;
    width:20px;
}

.timeline-flight-iaf-estimate {
    text-align:center;
    width:25px;
}

.timeline-color-salmon {
    color:#FDCFE4
}

.timeline-color-pink {
    color:#F6ADAF
}

.timeline-color-purple {
    color:#E9A6FC
}

.timeline-color-cyan {
    color:#B5FFFF
}
